
::selection{
  color: black;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

html, body{
  overflow-x: hidden;
}

.navbar{
  height: 7em;
}

a, button{
  font-size: 2rem!important;
}

a {
  text-decoration: none;
}

section {
  width: 100vw!important;
  height: auto;
  min-height: 100vh;
  max-height: none;
  overflow: hidden;
}

#main{
  width: 100vw!important;
  height: 100vh;
  background-image: url("../images/bg-accueil.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#second {
  width: 100vw!important;
  height: 100%!important;
}

aside{
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 20em;
}

#aside_count a{
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0;
}

#aside_cont {
  background-color: #fff;
  width: 100%!important;
  height: 70%!important;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22)!important;
}

#publi_container {
  overflow-y: scroll;
}

.publi {
  background-color: #fff;
  width: 90%;
  height: 7em;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}

  div#slider figure {
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
  div#slider figure img { width: 20%; float: left; }

  div#slider { width: 80%; max-width: 1000px; overflow: hidden }

  @keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}