
::selection{
  color: black;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth!important;
}

.navbar{
  height: 7em;
}

header a, button{
  font-size: 2rem!important;
}


#scrllDown{
  background-color: #99182c!important;
  position: absolute!important;
  bottom: 5rem!important;
  right: 5rem!important;
}


section {
  width: 100vw!important;
  height: auto;
  min-height: 100vh;
  max-height: none;
  overflow: hidden;
}

#main{
  width: 100vw!important;
  height: 89vh;
  /*background-image: url("../images/bg-accueil.png");*/
  background-size: cover;
  background-repeat: no-repeat;
}

#main iframe{
  width: 100%;
  height: 100%;
}

#second {
  width: 100vw!important;
  height: 100%!important;
}

aside{
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 20em;
}

#aside_count a{
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0;
}

#aside_cont {
  background-color: #fff;
  width: 100%!important;
  height: 70%!important;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22)!important;
}

.publi {
  background-color: #fff;
  width: 90%;
  height: 7em!important;
  min-height: 7em;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
  font-size: medium;
}

#publi_container a {
  text-decoration: none!important;
  font-size: medium!important;
  color: #99182c;
}

#publi_container_tt{
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  
}

#pLoadCit {
  font-size: xx-large;
  height: 5em;
  color: white;
  background-color: #99182c;
  text-align: center;
  vertical-align: middle;

}

.paginationjs .paginationjs-pages li.active>a {
  color: #fff!important;
  background-color: #99182c!important;
}



footer a{
  text-decoration: none;
  font-size: medium!important;
}
footer p{
  font-size: medium;
}

header button {
  color:#848888!important;
  text-transform: lowercase!important;
}



#para{
  width: 100%;
  height: 100vh;
}

#para form {
  width: 50%;
  height: 100%;
}


#allPublis{
  width: 100%;
  height: 100%;
}

#pgContainer{
  width: 100%;
}