
::selection{
  color: black;
  background-color: #fff;
}
body{
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
}

::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

html, body{
  overflow-x: hidden;
}

.navbar{
  height: 7em;
}

a, button{
  font-size: 2rem!important;
}

a {
  text-decoration: none;
}



section {
  width: 100vw!important;
  height: auto;
  min-height: 100vh;
  max-height: none;
  overflow: hidden;
}

#main{
  width: 100vw!important;
  height: 100vh;
  background-image: url("../images/bg-accueil.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#second {
  width: 100vw!important;
  height: 100%!important;
}

aside{
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 20em;
}

#aside_count a{
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 0;
}

#aside_cont {
  background-color: #fff;
  width: 100%!important;
  height: 70%!important;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22)!important;
}

#publi_container {
  overflow-y: scroll;
}

.publi {
  background-color: #fff;
  width: 90%;
  height: 7em;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.25), 0 1rem 1rem rgba(0,0,0,0.22);
}


footer a{
  text-decoration: none;
  font-size: medium!important;
}
footer p{
  font-size: medium;
}

header button {
  color:#848888!important;
  text-transform: lowercase!important;
}



#para{
  width: 100%;
  height: 100vh;
}

#para form {
  width: 50%;
  height: 100%;
}